[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
pandas = "*"
sklearn = "*"
ipykernel = "*"
plotly = "*"
nbformat = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.10"
